{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
<div class="container-fluid text-center">
  <header >
    <nav class="navbar navbar-expand-lg">
  <div class="container-fluid d-flex align-items-end">
        <a class="navbar-brand" href="#"><img src="{{ asset('pictures/interface/logo-tuto-box.png')}}"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown link
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <turbo-frame id="login"  src="{{ path('app_home_page_login') }}">
        </turbo-frame>
      </ul>
    </div>
    </div>
      <turbo-frame id="profile"  src="{{ path('app_home_page_profile') }}">
            </turbo-frame>
    </nav>
  </header>
  
    <main class="row">
       <div class="col">
      <turbo-frame id="content" src="{{ path('app_home_page_welcome') }}">
    </turbo-frame>
    </div>
    </main>
    <footer class="row">
          <div class="col">
      footer
    </div>
          <div class="col">
      footer
    </div>
    </footer>

</div>


{% endblock %}
