   
<turbo-frame id="content">
<div class="container-fluid">
        <div class="jumbotron">
            <h1 class="display-4">Bienvenue sur MyTutoBox</h1>
            <p class="lead">MyTutoBox est une plateforme éducative dédiée à l'apprentissage de la programmation.</p>
            <hr class="my-4">
            <p>Notre objectif est de fournir des supports de formation interactifs et complets pour maîtriser différents frameworks comme Angular et Symfony, ainsi que le langage PHP.</p>
        </div>
<div class="d-flex">
        <div class="card mb-4 w-50 m-3">
            <div class="card-header">
                <h2>Objectifs du Projet</h2>
            </div>
            <div class="card-body">
                <p>MyTutoBox vise à promouvoir l'auto-formation en proposant des tutoriels, des quizz, des supports de synthèse et des exercices pratiques. En plus de démontrer mes compétences en développement web, ce projet pose les bases d'une éventuelle activité professionnelle et constitue une partie essentielle de mon portfolio.</p>
            </div>
        </div>
        <div class="card mb-4 w-50 m-3">
            <div class="card-header">
                <h2>Fonctionnalités Éducatives</h2>
            </div>
            <div class="card-body">
                <p>Nos fonctionnalités éducatives sont conçues pour offrir une expérience d'apprentissage complète :</p>
                <ul>
                    <li><strong>Tutoriels :</strong> Des cours détaillés et structurés.</li>
                    <li><strong>Quizz :</strong> Des évaluations interactives pour tester vos connaissances.</li>
                    <li><strong>Supports de Synthèse :</strong> Des documents téléchargeables pour réviser.</li>
                    <li><strong>Exercices en Sandbox :</strong> Pratiquez le PHP dans un environnement sécurisé.</li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    </turbo-frame>