header{
    background-color: white;
    border: 1px black solid;
    height: 30vh;
}
main{
    background-color: green;
    border: 1px black solid;
    height: 65vh
}

footer{

    border: 1px black solid;
    height: 5vh;
}
.avatar{
    height: 10vh; 
}
body
{
    min-height: 100%;
}